@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  display: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #909497, #b9c2c9, #bcc9d6, #7e7f80, #a2a8ab);
  font-family: "Martel Sans", sans-serif;
}

h1 {
  font-size: 2vmin;
  text-align: center;
  color: #000000;
  font-weight: 900;
}

p {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #000000;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90vmin;
  height: 25em;
  border: 8px solid;
  margin: 2rem auto;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* color cards individual*/
.cards .uno {
  -o-border-image: linear-gradient(-50deg, #D4E6F1, #b5cfde, #515c63, #b7dcf3, #55768a, #82b8d9, #D4E6F1) 1;
     border-image: linear-gradient(-50deg, #D4E6F1, #b5cfde, #515c63, #b7dcf3, #55768a, #82b8d9, #D4E6F1) 1;
}
.cards .uno .image-content {
  background-image: url("../img/experiencia1.jpg");
}
.cards .uno- {
  background: #D4E6F1;
}
.cards .dos {
  -o-border-image: linear-gradient(-50deg, #A9DFBF, #afcfbc, #5e7c6a, #7dd6a1, #658471, #8bdcac, #A9DFBF) 1;
     border-image: linear-gradient(-50deg, #A9DFBF, #afcfbc, #5e7c6a, #7dd6a1, #658471, #8bdcac, #A9DFBF) 1;
}
.cards .dos .image-content {
  background-image: url("../img/experiencia2.png");
}
.cards .dos- {
  background: #A9DFBF;
}
.cards .tres {
  -o-border-image: linear-gradient(-50deg, #EFF257, #edef69, #eef042, #b0b23f, #c0c253, #ccce3a, #edef99) 1;
     border-image: linear-gradient(-50deg, #EFF257, #edef69, #eef042, #b0b23f, #c0c253, #ccce3a, #edef99) 1;
}
.cards .tres .image-content {
  background-image: url("../img/experiencia3.jpg");
}
.cards .tres- {
  background: #EFF257;
}
.cards .cuatro {
  -o-border-image: linear-gradient(-50deg, #FBB672, #f4c393, #bd9369, #a5794c, #c08244, #f5a453, #f1d1b1) 1;
     border-image: linear-gradient(-50deg, #FBB672, #f4c393, #bd9369, #a5794c, #c08244, #f5a453, #f1d1b1) 1;
  background-image: url("../img/sinister.jpg");
}
.cards .cuatro- {
  background: #FBB672;
}
.cards .cinco {
  -o-border-image: linear-gradient(-50deg, #D9D9D9, #dbcdcd, #a2a2a2, #787777, #b1a5a5, #9a9191, #e6dcdc) 1;
     border-image: linear-gradient(-50deg, #D9D9D9, #dbcdcd, #a2a2a2, #787777, #b1a5a5, #9a9191, #e6dcdc) 1;
}
.cards .cinco .image-content {
  background-image: url("../img/luna.jpg");
}
.cards .cinco- {
  background: #D9D9D9;
}

/*---------------*/
.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  -o-border-image: linear-gradient(to bottom, #AEA724 5%, forestgreen 35% 65%, #AEA724 95%) 0 0 0 100%;
     border-image: linear-gradient(to bottom, #AEA724 5%, forestgreen 35% 65%, #AEA724 95%) 0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}

.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #909497;
  box-shadow: inset 1px 1px 15px 0 rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.wrap:hover .overlay {
  transform: translateX(-60vmin);
}

.wrap:hover .image-content {
  width: 30vmin;
}

.wrap:hover .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
}

.wrap:hover .dots {
  transform: translateX(1rem);
}

.wrap:hover .dots .dot {
  background: white;
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Pop In */
.pop {
  animation-name: pop;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
/* Slide In */
.slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* Slide Left */
.slide-left {
  animation-name: slide-left;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.slide-up {
  animation-name: slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.8s;
}

.delay-7 {
  animation-delay: 2.1s;
}

.delay-8 {
  animation-delay: 2.4s;
}

/*nav*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #909497;
  z-index: -1;
  top: 0;
  left: 0;
}

/*Estilos para el encabezado*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 10px;
}

.container .btn-menu, .logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: #A9DFBF;
  font-size: 25px;
  cursor: pointer;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/
/*Menù lateral*/
#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #000000;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #ffffff;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #A9DFBF;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/*responsive*/
@media (min-width: 1000px) {
  .logo {
    display: flex;
  }
}/*# sourceMappingURL=cards.css.map */